<h1>약관 수정하기</h1>

<%= render 'form', termsofservice: @termsofservice %>

<%= link_to '보기', @termsofservice, class: "btn btn-success" %> |
<%= link_to '목록', termsofservices_path, class: "btn btn-info" %>
<br><br>