<h1>Business 문의</h1>

<%= render 'form', business_question: @business_question %>

<%= link_to '보기', @business_question, class: "btn btn-success" %> |
<%= link_to '목록', business_questions_path, class: "btn btn-info" %>
<br><br>